[League of Legends]
row=8
col=0

[Steam]
row=6
col=0

[Grand Theft Auto IV]
row=0
col=1

[Rockstar Games Social Club]
row=7
col=0

[16 GB Volume]
row=3
col=0

[167 GB Volume]
row=5
col=0

[501 GB Volume]
row=4
col=0

[Trash]
row=2
col=0

[File System]
row=1
col=0

[Home]
row=0
col=0

