[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bananaboy/Desktop/another.saz]
row=0
col=0

[/home/bananaboy/Desktop/ses.saz]
row=1
col=0

[/home/bananaboy/Desktop/FiddlerRoot.cer]
row=2
col=0

